<section class="hero">
    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.hero.img ) }}
    {{ if eq $imageResource nil }}
        <p class="alert alert-danger mx-4 py-4">
            You're close. But there is a mistake in the thumb image. - {{ $imageResource }}
        </p>
    {{ else }}
        {{ $hero := ( $imageResource.Resize "1920x1159") }}
        <img class="img-fluid hero--image" title="{{ .Title }}" alt="{{ .Title }}" src='{{ strings.TrimRight "/dev/" .Site.BaseURL }}{{ $hero.RelPermalink }}' />
    {{ end }}
    {{ if or .IsHome ( eq .Title "My projects")}}
    <div class="hero--typography text-center">
        <span class="lax"
            data-lax-opacity="0 1, 100 1, 300 0"
        >{{ .Params.hero.l1 }}</span>
        <h1 class="lax"
            data-lax-opacity="0 1, 100 1, 500 0"
        >{{ .Params.hero.l2 }}</h1>

        {{ if or (ne .Params.hero.a "" ) ( ne .Params.hero.ah "" ) }}
            <a href="{{ .Params.hero.ah }}" class="lax"
                data-lax-opacity="0 1, 100 1, 700 0"
            >{{ .Params.hero.a }}</a>
        {{ end }}
    </div>
    {{ end }}

</section>