<ul class="nav projects--nav justify-content-center button-group filters-button-group grid--nav lax"
    data-lax-opacity="vh 0, 500 1, 5 1, 0 0"
    data-lax-anchor="self"
>
    <li class="nav-item">
        <button class="nav-link button button--link is-checked" data-filter="*">All</a>
    </li>
    {{range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li class="nav-item">
            <button class="nav-link button button--link"  data-filter=".{{ $name }}">
                {{ $name }}
            </button>
        </li>
    {{end}}
</ul>
<ul class="projects list-unstyled">
    <li class="projects-sizer"></li>
    {{ range $index, $p := last 100 (where .Site.Pages "Section" "projects") }}
        {{ if .Params.img.src }}
            <li class='projects-item {{ with .Params.tags }}{{ delimit . " " }}{{ end }}{{ if or (eq .Params.img.size "big") ( eq .Params.img.shape "double square" ) }} projects-item--width2{{ end }}'>
                <a href="{{ .Permalink }}">
                    <figure>
                        <div class="portfolio-img lax" data-lax-opacity="1 0, vh 1">
                            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.img.src ) }}
                            {{ if eq $imageResource nil }}
                                <p class="alert alert-danger mx-4 py-4">
                                    You're close. But there is a mistake in the thumb image. - {{ $imageResource }}
                                </p>
                            {{ else }}
                                {{ if eq .Params.img.shape "square" }}
                                    {{ $square := ( $imageResource.Resize "900x900") }}
                                    <img class="img-fluid" title="{{ .Title }}" alt="{{ .Title }}" src='{{ strings.TrimRight "/dev/" .Site.BaseURL }}{{ $square.RelPermalink }}' />
                                {{ else if eq .Params.img.shape "double square" }}
                                    {{ $doubleSquare := ( $imageResource.Resize "900x445") }}
                                    <img class="img-fluid" title="{{ .Title }}" alt="{{ .Title }}" src='{{ strings.TrimRight "/dev/" .Site.BaseURL }}{{ $doubleSquare.RelPermalink }}' />

                                {{ end }}
                            {{ end }}
                        
                        </div>
                        <figcaption>
                            <div class="portfolio-hover-main">
                                <div class="portfolio-hover-box align-middle"> 
                                    <div class="portfolio-icon alt-font font-weight-600 icon-medium">+</div>
                                    <span class="text-extra-large alt-font text-extra-dark-gray margin-5px-bottom">{{ .Title }}</span>
                                    <p class="no-letter-spacing text-small mb-0 text-medium-gray">{{ .Params.sub }}</p>
                                </div>
                            </div> 
                        </figcaption>
                    </figure>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>