body {
    position: relative;
}
.hero {
    height: 98vh;
    position: relative;
    overflow: hidden;
    color: var(--fg, white);
    background:  var(--bg, white);
    
    &--image {
        position: absolute;
        bottom: 0%;
        z-index: 1;
    }
    &--typography {
        position: absolute;
        display: block;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%);
    }
}