$border: 1px solid red;
$border: none;

$gridPadding: 8px;

.projects {
    margin: 0 $gridPadding;
    list-style: none;
    padding: 0;
    position: relative;
    border: $border;
    &-item {
        padding: $gridPadding $gridPadding;
        overflow: hidden;
        opacity: 1;
        border: $border;
    }
    figure {
        margin: 0;
        position: relative;
        overflow: hidden;
    }
    img {
        cursor: pointer;
        display: block;
        opacity: 1;
        width: 100%;
        transition: all 0.3s ease 0s;
    }
    &--nav {
        margin-top: 0rem;
        padding: 4rem 0;
        //border: 1px solid red;
    }
}

.projects-item, .projects-sizer {
    width: 50%;
}

.projects-item {
    &--width2 {
        width: 100%;
    }
}

@include media-breakpoint-up(lg) { 
    .projects-item, .projects-sizer {
        width: 25%;
    }
    
    .projects-item {
        &--width2 {
            width: 50%;
        }
    }
}

.projects {
    figcaption {
        opacity: 0;
        padding: 0;
        transition: all 0.2s ease 0s;

        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease 0s;
        width: 100%;
        height: 100%;
        padding: 45px;
        margin: 0;
        z-index: 1;
        text-align: center;
        &:hover {
            opacity: 1;
        }
    }
}

figure {
    display: block;
    margin: 0;
    position: relative;
    overflow: hidden;
    &:hover {
        .portfolio-img {
        }
        img {
            transition: all 0.3s ease 0s;
            -webkit-transform: scale(1.1, 1.1);
            opacity: 1;
            filter: blur(4px);
        }
    }
}

*:hover {
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}


.nav-link {
    color: var(--fg, white);
    text-transform: uppercase;
    &.is-checked {
        text-decoration: underline;
    }
}
.nav-link {
    &:focus, &:active {
        border: none !important;
        outline: none;
    }
}